.footer {
  padding-top: 64px;
  min-height: 316px;

  @media (max-width: $max-tablet-width) {
    min-height: 457px;
    padding-top: 19px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 46px;
  }
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 1512px;

  display: grid;
  grid-template-columns: max-content max-content 24%;
  grid-template-rows: min-content min-content;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;

  @media (max-width: $max-tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    padding-left: 25px;
    padding-right: 25px;
    align-content: start;
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__section-inner {
  @media (max-width: $max-tablet-width) {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    margin-bottom: 38px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $footer-border-color;
      bottom: 0;
      width: 100vw;
      left: calc(((100vw - 100%) / 2) * -1);
    }
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

.footer__section-inner .footer__copyright {
  display: none;

  @media (max-width: $max-tablet-width) {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: rgba($text-color-gray, 0.5);
    margin-right: 54px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 48px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 0;
    margin-right: 85px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
    margin-bottom: 9px;
  }
}

.footer__bottom {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba($text-color-gray, 0.5);


  @media (max-width: $max-tablet-width) {
    padding-top: 8px;
  }

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    padding-top: 28px;
    padding-bottom: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100vw);
    height: 1px;
    background-color: $footer-border-color;
    top: -4px;
    left: calc(((100vw - 100%) / 2) * (-1));

    @media (max-width: $max-tablet-width) {
      top: -1px;
    }
  }
}

.footer__rights {
  margin-right: 5.24%;

  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.footer__copyright {
  margin-right: 9.12%;

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
  }
}

.footer__bottom .footer__copyright {
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.footer__privacy {
  display: block;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $max-tablet-width) {
    padding-left: 2px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.footer__privacy a:hover {
  color: $color-accent;
}

.footer__development {
  margin-right: 4px;

  @media (max-width: $max-tablet-width) {
    margin-right: 0;
  }
}
