.nav-list {
  @include list-reset();

  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 74px;

  @media (max-width: 1200px) {
    column-gap: 20px;
  }

  @media (max-width: $max-tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 16px;
    padding-bottom: 10px;
  }
}

.nav-list__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba($text-color-gray, 0.5);
}

.nav-list__item:nth-child(2) {
  @media (max-width: $max-tablet-width) {
    order: 5;
  }
}

.nav-list__item:nth-child(3) {
  @media (max-width: $max-tablet-width) {
    order: 2;
  }
}

.nav-list__item:nth-child(4) {
  @media (max-width: $max-tablet-width) {
    order: 6;
  }
}

.nav-list__item:nth-child(5) {
  @media (max-width: $max-tablet-width) {
    order: 3;
  }
}

.nav-list__item:nth-child(6) {
  @media (max-width: $max-tablet-width) {
    order: 7;
  }
}

.nav-list__item:nth-child(7) {
  @media (max-width: $max-tablet-width) {
    order: 4;
  }
}

.nav-list__item a:hover {
  color: $color-accent;
}
