.products-list {
  @include list-reset();

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 30px;

  @media (max-width: $max-tablet-width) {
    grid-template-columns: 1fr;
    gap: 46px;
  }

  @media (max-width: $max-mobile-width) {
    gap: 28px;
    justify-items: center;
  }
}

.products-list__item {
  @media (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    max-width: 414px;
  }
}
