$dark-blue-bg: #1b2d37;
$text-color-white: #fff;
$text-color-gray: #1b2d37;
$header-btn-border-color: #fff;
$footer-border-color: #626962;
$toggle-accordeon-color: #c4c4c4;
$color-accent: #00b2ff;

$primary-font: "PT Mono", monospace;
$secondary-font: "Roboto Condensed", sans-serif;

$max-tablet-width: 1023px;
$max-mobile-width: 767px;
$desktop-width-only: 1024px;
